
{% extends 'base.html.twig' %}
{% block title %} Blue Service Teste {% endblock %}

{% block body %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Produtos</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Listar e criar Produtos</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {{form(register_form)}}
                </div>
            </div>
        </section>
         {% if msg %}

            <script>
                  Swal.fire({
                  icon: '{{statusmsg}}',
                  title: '{{msg}}',
                  showConfirmButton: false,
                 timer: 1500
                  }).then(function() {
    window.location = "/produto";
});
            </script>

        {% endif %}
{% endblock %}




